{% extends 'base.html' %}
{% block title %}EyeCU{% endblock title %}
    


{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Home pages</title>

    

    <!-- Bootstrap core CSS -->

    <!-- Custom styles for this template -->

  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      

      <main role="main" class="inner cover">
        <h1></h1>
        <h1 class="cover-heading">EyeCU</h1>
        <br><br>
        <p class="lead">A.I. Medical service available at the tip of your fingers!</p>
        <p class="lead">
          <br><br>
          <a href="#" class="btn btn-lg btn-secondary" href="/about">About EyeCU</a>
        </p>
      </main>

    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>

  </body>

    {% endblock %}
