{% extends 'base.html' %}
{% block title %}Upload your eye!{% endblock title %}
{% block content %}


<head>
    <title>Test Layout</title>
</head>
<body>
    <div id="content">
        <iframe
  src="https://jazmineox-eye-classification.hf.space"
  style="
    position: absolute;
    top: 55px;
    bottom: 0px;
    right: 95px;
    width: 90%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 999999;
    height: 90%;
  ">
</iframe>
    </div>
</body>



{% endblock %}